<h2>this is the edit page for tasks</h2>

<p><%= link_to 'Back to timeline', tasks_path %></p>

<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Duration</th>
    <th>Start</th>
    <th>Finish</th>
    <th>Predecessors</th>
    <th>Resources</th>
  </tr>
  <%= form_for @task do |f| %>
    <tr>
      <td><%= f.text_field :number %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :duration %></td>
      <td><%= f.text_field :start %></td>
      <td><%= f.text_field :finish %></td>
      <td><%= f.text_field :predecessors %></td>
      <td><%= f.text_field :resources %></td>
      <td><%= f.submit 'Submit' %></td>
    </tr>
  <%- end -%>
</table>
