<h2>This is the projects index page</h2>

<p><%= link_to 'Add a new project', new_project_path %></p>

<% if !@projects.empty? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Start</th>
      <th>Finish</th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to "#{project.name}", project_path(project) %></td>
        <td><%= project.duration %></td>
        <td><%= project.start %></td>
        <td><%= project.finish %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project_path(project), method: :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>
