<h2>Project Name:  <%= @project.name %></h2>

<p><%= link_to 'Back to projects', projects_path %></p>

<% if !@tasks.empty? %>
  <table>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Predecessors</th>
      <th>Resources</th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.number %></td>
        <td><%= task.name %></td>
        <td><%= task.duration %></td>
        <td><%= task.start %></td>
        <td><%= task.finish %></td>
        <td><%= task.predecessors %></td>
        <td><%= task.resources %></td>
        <td><%= link_to 'Edit', edit_project_task_path(@project, task) %></td>
        <td><%= link_to 'Delete', project_task_path(@project, task), method: :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= render 'tasks/new' %>
